p {
    color: red;
    font-size:16px
  }
h1 {
    color:black;
    font-size:36px
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0; */
  background-image: url("../resources/background.png");
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;

}

.container {
  background: white;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  display: none;
}

.result input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
div.loadingdiv {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../resources/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
}



