p {
    color: red;
    font-size:16px
  }
h1 {
    color:black;
    font-size:36px
}
body {
  background-color: #639bae;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* background-color: #f0f0f0; */
  background-image: url("../resources/background.png");
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center 60px; /* Center the image horizontally and offset it by 60px vertically */

}

.container {
  background: white;
  padding: 4%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  display: none;
}

.result input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
div.loadingdiv {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../resources/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px 0; /* Some padding */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.header-content {
  box-sizing: border-box;
  background-color: #34495e; /* Dark shade of blue */
  color: #ffffff; /* White color for text */
  text-align: center; /* Center align the content */
  padding: 10px 0; /* Add some padding above and below the content */
}

.header-content nav ul {
  list-style: none; /* Remove default list styling */
  height: 100%; /* Make the list fill the entire height of the header */
  padding: 0; /* Remove default padding */
  margin: 10px; /* Remove default margin */
  display: flex; /* Use flexbox to create a horizontal list */
}

.header-content nav ul li {
  margin: 0 15px; /* Add some space between list items */
}

.header-content nav ul li a {
  color: #ffffff; /* White color for links */
  text-decoration: none; /* Remove underline from links */
  font-size: 22px; /* Set font size */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.header-content nav ul li a:hover {
  color: #1abc9c; /* Change color on hover */
}

.github-icon {
  filter: brightness(0) invert(1);
  height: 28px;
  width: 28px;
}
.short-url{
	cursor: pointer;
	background-color: #f0f0f0;
	padding: 5px;
	background-color: #f0f0f0;
	padding: 5px;
}
.short-url:hover {
	background-color: #e0e0e0;
}
